@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


/* ==== GENERAL SETTINGS ==== */
body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1335px;
  margin: 0 auto;

}

.grid-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid-item {
  height: 550px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-row a {
  text-decoration: none;
}

.wrapping-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  color: currentColor;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  box-sizing: initial;
  background: #ececec;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), -webkit-box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), -webkit-box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1), -webkit-box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.grid-image-top {
  height: 45%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

.grid-image-top .centered {
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54.5%;
  left: 50%;
  width: 75%;
  height: 75%;
  background-position: center;
}

.grid-item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
}

.more-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  padding-left: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more-info i {
  padding-left: 5px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.grid-item:hover .more-info i {
  padding-left: 20px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.more-info i::before {
  font-size: 16px;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}



/* INDIVIDUAL SETTINGS FOR EACH GRID-ITEM-CONTAINER */

.grid-image-top.NW_PitviperRanges {
  background: -webkit-gradient(linear,left top, left bottom,from(#007DB8),to(#00447C));
  background: linear-gradient(#007DB8,#00447C);
}
.NW_PitviperRanges-image {
  background-image: url(./img/NW_PitviperRanges.png);
}

.grid-image-top.SequencingEstimator {
  background: -webkit-gradient(linear,left top, left bottom,from(#2db89a),to(#00793d));
  background: linear-gradient(#2db89a,#00793d);
}
.SequencingEstimator-image {
  background-image: url(./img/SequencingEstimator.png);
}

.grid-image-top.anova {
  background: -webkit-gradient(linear,left top, left bottom,from(#952f4c),to(#3e1a51));
  background: linear-gradient(#952f4c,#3e1a51);
}
.anova-image {
  background-image: url(../img/shiny_app_anova.png);
}

.grid-image-top.powertest {
  background: -webkit-gradient(linear,left top, left bottom,from(#1AA9FB),to(#1785C4));
  background: linear-gradient(#1AA9FB,#1785C4);
}
.powertest-image {
  background-image: url(../img/shiny_app_powertest2.png);
}

.grid-image-top.correlation {
  background: -webkit-gradient(linear,left top, left bottom,from(#464646),to(#000000));
  background: linear-gradient(#464646,#000000);
}
.correlation-image {
  background-image: url(../img/shiny_app_correlation.png);
}

.grid-image-top.diagnostics1 {
  background: -webkit-gradient(linear,left top, left bottom,from(#D7878A),to(#563637));
  background: linear-gradient(#D7878A,#563637);
}
.diagnostics1-image {
  background-image: url(../img/shiny_app_diagnostics1b.png);
}

.grid-image-top.diagnostics2 {
  background: -webkit-gradient(linear,left top, left bottom,from(#5a5a5a),to(#323232));
  background: linear-gradient(#5a5a5a,#323232);
}
.diagnostics2-image {
  background-image: url(../img/shiny_app_diagnostics2b.png);
}

.grid-image-top.transformations {
  background: -webkit-gradient(linear,left top, left bottom,from(#0CC1C8),to(#2E838C));
  background: linear-gradient(#0CC1C8,#2E838C);
}
.transformations-image {
  background-image: url(../img/shiny_app_transformations2.png);
}

.grid-image-top.reproducibility {
  background: -webkit-gradient(linear,left top, left bottom,from(#737c95),to(#142247));
  background: linear-gradient(#737c95,#142247);
}
.reproducibility-image {
  background-image: url(../img/shiny_app_reproducibility.png);
}

.grid-image-top.collinearity {
  background: -webkit-gradient(linear,left top, left bottom,from(#4A73C0),to(#466BB0));
  background: linear-gradient(#4A73C0,#466BB0);
}
.collinearity-image {
  background-image: url(../img/shiny_app_collinearity.png);
}



/* ==== RESPONSIVE DESIGN SETTINGS ==== */

@media(max-width: 1333px) {
  .grid-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* small devices -> small images */


@media(max-width: 768px) {

  .distribution-image {
    background-image: url(../img/img_small/shiny_app_distributions.png);
  }
  .clt-image {
    background-image: url(../img/img_small/shiny_app_clt.png);
  }
  .clt-image {
    background-image: url(../img/img_small/shiny_app_clt.png);
  }
  .powertest-image {
    background-image: url(../img/img_small/shiny_app_powertest2.png);
  }
  .correlation-image {
    background-image: url(../img/img_small/shiny_app_correlation.png);
  }
  .diagnostics1-image {
    background-image: url(../img/img_small/shiny_app_diagnostics1b.png);
  }
  .diagnostics2-image {
    background-image: url(../img/img_small/shiny_app_diagnostics2b.png);
  }
  .transformations-image {
    background-image: url(../img/img_small/shiny_app_transformations2.png);
  }
  .reproducibility-image {
    background-image: url(../img/img_small/shiny_app_reproducibility.png);
  }
  .collinearity-image {
    background-image: url(../img/img_small/shiny_app_collinearity.png);
  }

}